In [116]:
import datetime
import feature_engg as engg
import feature_util as utl
import json
import math
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [2]:
# cities
df_cities = pd.read_csv('../data/world_cities.txt', sep=",")
df_cities = df_cities[['country', 'city', 'lat', 'lon']]

# events
df_events = utl.get_df('../data/events.json', encoding='utf-8')

# groups
df_groups = utl.get_df('../data/groups.json', encoding='utf-8')

# users
df_users = utl.get_df('../data/users.json', encoding='utf-8')
df_users['city'] = df_users.city.str.lower()
df_users = df_users.merge(df_cities, on=['country', 'city'])
df_users.columns = [str(col) + '_u' for col in df_users.columns]

# venues
df_venues = utl.get_df('../data/venues.json', encoding='utf-8')
df_venues['city'] = df_venues.city.str.lower()
df_venues.columns = [str(col) + '_v' for col in df_venues.columns]

<type 'list'>
<type 'list'>
<type 'list'>
<type 'list'>

C:\Users\310195644\AppData\Local\Continuum\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_events = df_events.assign(event_id=[i+1 for i in xrange(len(df_events))])
df_events_flat = utl.flatten_list(df_events, 'rsvps', reset_index=True)
df_events_flat = utl.flatten_dict(df_events_flat, 'rsvps')
df_events_flat['label'] = df_events_flat.response.apply(lambda x: engg.label_attendance(x))
df_events_flat['total_att'] = df_events_flat.label + df_events_flat.guests

In [ ]:
# n_events_peruser = df_events_flat.groupby(['user_id']).agg({'label': 'sum'}).reset_index()
# print 'Total attendance: \n', df_events_flat.total_att.describe()
# print '\nResponse summary: \n', df_events_flat.response.value_counts()
# print '\nGuest count summary: \n', df_events_flat.guests.describe()
# print 'Number of events attended per user: \n', n_events_peruser.label.describe()
# print '\nStatus of events:\n', df_events_flat.status.value_counts()

In [8]:
df_events_flat = df_events_flat.merge(df_venues, left_on='venue_id', right_on='venue_id_v', how='left')
df_events_flat = df_events_flat.merge(df_users, left_on='user_id', right_on='user_id_u', how='left')
del df_events_flat['venue_id_v'], df_events_flat['user_id_u']

In [88]:
df_events_flat['uv_sim'] = df_events_flat.apply(lambda row: lat_lon_similarity(row['lat_v'], row['lon_v'], 
                                                                               row['lat_u'], row['lon_u']), axis=1)
df_events_flat = df_events_flat[df_events_flat.time.notnull()]
df_events_flat['datetime'] = pd.to_datetime((df_events_flat['time']/1000).astype(int), unit='s')
df_events_flat['event_hour'] = df_events_flat.datetime.dt.hour
df_events_flat['event_day_of_week'] = df_events_flat.datetime.dt.dayofweek
df_events_flat['reg_time'] = (df_events_flat.time - df_events_flat.created) / 3600000

In [120]:
df_agg = df_events_flat.groupby(['event_id', 'event_hour', 'event_day_of_week', 'reg_time']) \
                       .agg({'uv_sim' : 'mean', 'total_att' : 'sum'}).reset_index()
df_agg['event_hour_1'] = df_agg.event_hour.apply(lambda x: event_hour_transform(x))
df_agg['day_1'] = np.where(df_agg.event_day_of_week==1, 1, 0)
df_agg['day_2'] = np.where(df_agg.event_day_of_week==2, 1, 0)
df_agg['day_3'] = np.where(df_agg.event_day_of_week==3, 1, 0)
df_agg['day_4'] = np.where(df_agg.event_day_of_week==4, 1, 0)
df_agg['day_5'] = np.where(df_agg.event_day_of_week==5, 1, 0)
df_agg['day_6'] = np.where(df_agg.event_day_of_week==6, 1, 0)
df_agg = df_agg.dropna(axis=0, how='any')
df_data = df_agg.drop(['event_id', 'event_hour', 'event_day_of_week'], axis=1)

In [147]:
X.corr(method='pearson')

,reg_time,uv_sim,event_hour_1,day_1,day_2,day_3,day_4,day_5,day_6
reg_time,1.000000,0.016936,0.051495,-0.068668,0.103961,0.055521,-0.055066,-0.049587,-0.035338
uv_sim,0.016936,1.000000,0.094458,-0.048447,0.002194,-0.049794,0.007783,0.150462,0.048417
event_hour_1,0.051495,0.094458,1.000000,-0.154578,-0.076847,-0.062001,0.038706,0.449689,0.117892
day_1,-0.068668,-0.048447,-0.154578,1.000000,-0.285043,-0.278774,-0.162295,-0.147103,-0.069992
day_2,0.103961,0.002194,-0.076847,-0.285043,1.000000,-0.338215,-0.196900,-0.178469,-0.084916
day_3,0.055521,-0.049794,-0.062001,-0.278774,-0.338215,1.000000,-0.192569,-0.174543,-0.083048
day_4,-0.055066,0.007783,0.038706,-0.162295,-0.196900,-0.192569,1.000000,-0.101615,-0.048348
day_5,-0.049587,0.150462,0.449689,-0.147103,-0.178469,-0.174543,-0.101615,1.000000,-0.043823
day_6,-0.035338,0.048417,0.117892,-0.069992,-0.084916,-0.083048,-0.048348,-0.043823,1.000000

In [134]:
X = df_data.drop('total_att', axis=1)
Y = df_data.total_att
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [136]:
lm = LinearRegression()
scores = cross_val_score(lm, X_train, y_train, cv=5)
predicted = cross_val_predict(lm, X_test, y_test, cv=5)
metrics.r2_score(y_test, predicted)

In [143]:
df_result = pd.DataFrame({'target': y_test, 'predict': predicted})

In [144]:
df_result

        predict  target
5418  26.404369       7
880   29.520654      14
1688  19.914054      48
4464  20.649389       4
2655  20.527720      34
3410  18.052157      12
2813  51.176764       4
4499  19.555233       1
1851  34.050271      14
4757  22.322420       3
2776  16.682180       1
3798  29.423338      17
5724   7.046998       7
3629  18.572600      17
4841  31.154487      38
5925  19.706270      32
2505  27.041839       9
5428  33.445473     102
1724  19.112964       8
318   18.946839       6
465   21.058680      23
3362  16.843738       5
780   24.652730      47
3326  40.445008      11
1901  27.360296     131
4998  29.308717      58
3218   9.080981       3
1181  24.245728      16
565   19.114233       4
912   26.193173       1
...         ...     ...
699    7.914445      58
5792  18.664555       6
2911  18.100729       2
869   28.359594      60
4784  18.349067      13
5301  19.367748      11
621   31.032789       7
2809  38.343729       1
2745  16.783671      17
4951  28.300662     101
3181  24.734902       3
484   42.932808       6
630   33.931119      41
2112  17.082218      18
4248  33.100670      18
449   17.347321       4
3584  16.983893      23
3734   7.544554       8
3069  27.540922      26
3475  20.398858      25
3331  27.325653       7
4148  19.604309      78
1514  18.186311      55
2150  51.036505     108
4962  19.083146       4
4626  39.945644      86
2797  19.092144       5
554   27.764470       8
5904  28.312183       1
5980  16.119037      16

[1215 rows x 2 columns]